<body>
  <nav class="navbar bg-dark">
    <div class="container-fluid">
      <div class="container-fluid">
        <a class="navbar-brand text-white h5" href="#">
          <img src="./assets/img/logo.png" alt="" width="30" height="50">
          Motos y Accesorios JuanSer.
        </a>

        <a class="navbar-brand" href="#"></a>

        <button class="navbar-toggler text-white h5 " type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon text-white h5"></span>
        </button>
        <div class="offcanvas offcanvas-end bg-dark text-white h5" tabindex="-1" id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title text-white h5" id="offcanvasNavbarLabel">Motos y Accesorios JuanSer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 text-white h5 nav">
              <li class="nav-item text-primary" role="presentation">
                <a class="nav-link text-white h5 active" id="pills-home-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                  aria-selected="true">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white h5" id="pills-form-tab" data-bs-toggle="pill" data-bs-target="#pills-form"
                  type="button" role="tab" aria-controls="pills-form" aria-selected="false">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white h5" href="#">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white h5" id="pills-profile-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                  aria-selected="false">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white h5" type="button" role="tab" id="pills-contact-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-contact" aria-controls="pills-contact" aria-selected="false">Carrito</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white h5" id="pills-reg-tab" data-bs-toggle="pill" data-bs-target="#pills-reg"
                  type="button" role="tab" aria-controls="pills-reg" aria-selected="false">registrar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white h5" id="pills-ing-tab" data-bs-toggle="pill" data-bs-target="#pills-ing"
                  type="button" role="tab" aria-controls="pills-ing" aria-selected="false">Ingresar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white h5" id="pills-pru-tab" data-bs-toggle="pill" data-bs-target="#pills-pru"
                  type="button" role="tab" aria-controls="pills-pru" aria-selected="false">prueba</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>



  <main>



    <div class="alert container position-sticky top-0 alert-primary hide" role="alert">

      Producto Añadido al carrito!
    </div>
    <div class="alert container position-sticky top-0 alert-danger remove" role="alert">
      Producto removido!
    </div>

    <div class="tab-content" id="pills-tabContent">
      <!-- primer boton-->
      <div class="tab-pane fade show active container" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="https://www.auteco.com.co/motos-tvs/apache-rtr-200-4v-2023/"><img src="./assets/img/apache.png"
                  class="d-block w-100" alt="prueba de alt"></a>
              <div class="carousel-caption d-none d-md-block ">
                <h2>Apache 200 RTR</h2>
                <p>Lanzamiento Modelo 2023</p>
              </div>
            </div>
            <div class="carousel-item">
              <a
                href="https://www.autecomobility.com/moto-victory-venom-250/p?gclid=CjwKCAjw-8qVBhANEiwAfjXLrshYoOpp32YFu2rD8IOAg_zfjXLNc9RA94s5EQOzWE58wqFilQJaBhoCwfoQAvD_BwE"><img
                  src="./assets/img/venom.png" class="d-block w-100" alt="prueba de alt"></a>
              <div class="carousel-caption d-none d-md-block text-black h5">
                <h2>VENOM 250</h2>
                <p>Lanzamiento Modelo 2023</p>
              </div>
            </div>
            <div class="carousel-item">
              <a href="https://grupouma.com/colombia/motos/pulsar/pulsar-ns200-fi/"><img src="./assets/img/ns200.png"
                  class="d-block w-100" alt="..."></a>
              <div class="carousel-caption d-none d-md-block">
                <h3>NS 200</h3>
                <p>Lanzamiento Modelo 2023</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!--arranca lo que está debajo del carrousel-->
        <span class="placeholder col-12 bg-secondary"></span>


        <div class="ratio ratio-21x9 ">
          <iframe src="./assets/img/ns.png" title="ns 200" allowfullscreen></iframe>
        </div>
        <span class="placeholder col-12 bg-secondary"></span>

        <div class="ratio ratio-21x9">
          <iframe src="./assets/img/apache200.png" title="apache 200" allowfullscreen></iframe>
        </div>

        <span class="placeholder col-12 bg-secondary"></span>

        <div class="ratio ratio-21x9">
          <iframe src="./assets/img/ven250.png" title="venom 250" allowfullscreen></iframe>
        </div>

        <!--termina lo que está debado del carrousel-->

      </div>
      <div class="tab-pane fade show container" id="pills-form" role="tabpanel" aria-labelledby="pills-form-tab">

        <div class="container-form">
          <div class="info-form">
            <h2>Contáctanos</h2>
            <p> tus comentarios son muy importantes, por eso, ponemos a tu disposición los siguientes canales de
              atención:</p>
            <form form action="https://formspree.io/f/xgedbaog" method="POST" autocomplete="off">
              <input type="text" name="nombre" placeholder="Tu Nombre" class="campo">
              <input type="emal" name="email" placeholder="Tu Email" class="campo">
              <textarea name="mensaje" placeholder="Tu Mensaje..."></textarea>
              <input type="submit" name="enviar" value="Enviar Mensaje" class="btn-enviar">
            </form>
          </div>
        </div>
      </div>


      <!-- segundo boton-->
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

        <h3 class="h4 m-4 text-white">Accesorios para motos!</h3>

        <div>
          <button class="btn btn-info" (click)="onClick()">
            Logout
          </button>
        </div>

        <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">

          <div class="col d-flex justify-content-center mb-4">
            <div class="card shadow mb-1 bg-dark rounded" style="width: 20rem;">
              <h5 class="card-title pt-2 text-center text-white">Intercomunidador FC</h5>
              <img src="./assets/img/accesorio1.jpg" class="card-img-top" alt=" ">
              <div class="card-body">
                <p class="card-text text-white-50 description">Intercomunicador marca Freeconn, conexión a música,
                  llamadas y mucho mas.</p>
                <h5 class="text-white">Precio: <span class="precio">$ 280000</span></h5>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary button">Añadir al Carrito</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col d-flex justify-content-center mb-4">
            <div class="card shadow mb-1 bg-dark rounded" style="width: 20rem;">
              <h5 class="card-title pt-2 text-center text-white">Pato Motero</h5>
              <img src="./assets/img/accesorio2.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-white-50 description">Pato de goma con accesorios, perfecto acompañante para
                  salir a rodar.</p>
                <h5 class="text-white">Precio: <span class="precio">$ 32000</span></h5>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary button">Añadir al Carrito</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center mb-4">
            <div class="card shadow mb-1 bg-dark rounded" style="width: 20rem;">
              <h5 class="card-title pt-2 text-center text-white">Guantes</h5>
              <img src="./assets/img/ac3.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-white-50 description">Guantes impermeables, perfectos para conducir y usar el
                  celular.</p>
                <h5 class="text-white">Precio: <span class="precio">$ 52000</span></h5>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary button">Añadir al Carrito</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center mb-4">
            <div class="card shadow mb-1 bg-dark rounded" style="width: 20rem;">
              <h5 class="card-title pt-2 text-center text-white">Chaqueta</h5>
              <img src="./assets/img/ac4.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-white-50 description">Chaqueta con protección para conducir moto, perfecta para
                  el frio e impermeable.</p>
                <h5 class="text-white">Precio: <span class="precio">$ 450000</span></h5>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary button">Añadir al Carrito</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center mb-4">
            <div class="card shadow mb-1 bg-dark rounded" style="width: 20rem;">
              <h5 class="card-title pt-2 text-center text-white">Pantalones </h5>
              <img src="./assets/img/ac5.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-white-50 description">Some quick example text to build on the card title and
                  make up the bulk of the card's content.</p>
                <h5 class="text-white">Precio: <span class="precio">$ 380000</span></h5>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary button">Añadir al Carrito</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center mb-4">
            <div class="card shadow mb-1 bg-dark rounded" style="width: 20rem;">
              <h5 class="card-title pt-2 text-center text-white">Porta celular</h5>
              <img src="./assets/img/ac6.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-white-50 description">Lleva tu celular contigo durante todo el viaje, para
                  apoyarte con mensajes y GPS.</p>
                <h5 class="text-white">Precio: <span class="precio">$ 98000</span></h5>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary button">Añadir al Carrito</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center mb-4">
            <div class="card shadow mb-1 bg-dark rounded" style="width: 20rem;">
              <h5 class="card-title pt-2 text-center text-white">Impermeable</h5>
              <img src="./assets/img/ac7.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-white-50 description">Impermeable perfecto para días lluviosos, perfecto para
                  empacar y llevar en la maleta.</p>
                <h5 class="text-white">Precio: <span class="precio">$ 70000</span></h5>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary button">Añadir al Carrito</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center mb-4">
            <div class="card shadow mb-1 bg-dark rounded" style="width: 20rem;">
              <h5 class="card-title pt-2 text-center text-white">Maletero</h5>
              <img src="./assets/img/ac8.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-white-50 description">Maletero de amplio espacio, para transporte de bastante.
                </p>
                <h5 class="text-white">Precio: <span class="precio">$ 290000</span></h5>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary button">Añadir al Carrito</button>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>

      <!-- tercer boton-->
      <div class="tab-pane fade carrito" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <br>
        <table class="table table-dark table-hover">
          <thead>
            <tr class="text-White">
              <th scope="col">Número</th>
              <th scope="col">Productos</th>
              <th scope="col">Precio</th>
              <th scope="col">Cantidad</th>
            </tr>
          </thead>
          <tbody class="tbody">

            <!-- acá reescribe el js-->

          </tbody>
        </table>
        <br><br>
        <div class="row mx-4">
          <div class="col">
            <h3 class="itemCartTotal text-white">Total: 0</h3>
          </div>
          <div class="col d-flex justify-content-end">
            <button class="btn btn-success">COMPRAR</button>
          </div>
        </div>
      </div>
      <!-- cuarto boton registrar-->
      <div class="tab-pane fade reg " id="pills-reg" role="tabpanel" aria-labelledby="pills-reg-tab">
        <div class="tab-pane fade show container" id="pills-form" role="tabpanel" aria-labelledby="pills-form-tab">

          <div class="container-form">
            <div class="info-form">
              <h2>Registrate</h2>
              <p> Para disfrutar de nuestros beneficios unete a nuestros beneficios ingresa tus datos en el siguiente :
              </p>
              <form [formGroup]="formReg" (ngSubmit)="registrar()">
                <div class="mb-3">
                  <label class="form-label text-white">Email</label>
                  <input type="text" class="form-control" formControlName="email">
                  <label class="form-label text-white">Password</label>
                  <input type="password" class="form-control" formControlName="password">
                </div>
                <input type="submit" value="Registrar">
              </form>
            </div>
          </div>
        </div>

      </div>



      <!-- quinto boton Login-->
      <div class="tab-pane fade ing" id="pills-ing" role="tabpanel" aria-labelledby="pills-ing-tab">
        <div class="tab-pane fade show container" id="pills-form" role="tabpanel" aria-labelledby="pills-form-tab">

          <div class="container-form">
            <div class="info-form">
              <h2>Ingresar</h2>
              <p> Coloca tus datos para poder disfrutar de tus beneficios:</p>
              <form [formGroup]="formLogin" (ngSubmit)="Ingresar()">
                <div class="mb-3">
                  <label class="form-label text-white">Email</label>
                  <input type="text" class="form-control" formControlName="email">
                </div>
                <div class="mb-3">
                  <label class="form-label text-white">Password</label>
                  <input type="password" class="form-control" formControlName="password">
                </div>
                <input type="submit" value="Ingresar">
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- sexto boton Logout-->
      <div class="tab-pane fade ing" id="pills-ing" role="tabpanel" aria-labelledby="pills-ing-tab">
        <div class="tab-pane fade show container" id="pills-form" role="tabpanel" aria-labelledby="pills-form-tab">

          <div class="container-form">
            <div class="info-form">
              <h2>Haz Iniciado sesion</h2>
              <p> Coloca tus datos para poder disfrutar de tus beneficios:</p>
              <form [formGroup]="formLogin" (ngSubmit)="Ingresar()">
                <div class="mb-3">
                  <label class="form-label text-white">Email</label>
                  <input type="text" class="form-control" formControlName="email">
                </div>
                <div class="mb-3">
                  <label class="form-label text-white">Password</label>
                  <input type="password" class="form-control" formControlName="password">
                </div>
                <input type="submit" value="Ingresar">
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade pru" id="pills-pru" role="tabpanel" aria-labelledby="pills-pru-tab">
        <div class="tab-pane fade show container" id="pills-form" role="tabpanel" aria-labelledby="pills-form-tab">

      <app-shop></app-shop>
      
      </div>
      </div>
    </div>
  </main>

  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-white">&copy; 2022 Camilo y Sergio, Inc</p>

    <a href="/"
      class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="./assets/img/logo.png" class="bi me-2" width="30" height="50">
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-white">Inicio</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Contexto</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Politicas</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Preguntas Frecuentes</a></li>
    </ul>
  </footer>



  <!-- JavaScript Bundle with Popper -->
  <!-- JavaScript Bundle with Popper -->

  <script>(function (w, d) { w.CollectId = "62bd90ed7fd5da5e20c69f4d"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.async = true; s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script>

</body>
